{% extends "base.html" %} {% block title %}
<title>Meals</title>
{% endblock %} {% block content %}

<section class="container">
  <div class="row gap-3 mx-auto justify-content-center my-5">
    {%for meal in meals%}
    <div class="card col-4 p-0" style="width: 18rem">
      <div class="card-body p-0">
        <img src="{{ meal.strCategoryThumb }}" class="card-img-top" alt="..." />
        <h5 class="card-title py-2 px-3">Meal id : # {{meal.idCategory}}</h5>
        <h5 class="card-title py-1 px-3">{{meal.strCategory}}</h5>
        <p class="card-text py-1 px-3">
          {{meal.strCategoryDescription | truncatewords:10}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
